.pageContent {
    display: block;
}

.intro.full-height-panel {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    max-height: 960px;
    min-height: 894px;
}

.intro {
    position: relative;
    background: #FFF url("../assets/images/ai-hero.png") no-repeat;
    background-position: bottom -65px right;
    background-size: 1076px 648px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.044em;
    color: #424242;
}

.intro .-wrapper {
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 48px 134px 0;
    width: 100%;
}

.intro .column-two-thirds {
    box-sizing: border-box;
    width: 60%;
    min-width: 552px;
}

.intro .-heading {
    color: #6200EA;
    font-family: 'Roboto Mono', monospace;
    font-size: 47px;
    line-height: 64px;
    font-weight: 300;
    margin: 0 0 50px 0;
    padding: 0 0 26px 0;
    position: relative;
}

.intro .-heading:after {
    content: '';
    width: 48px;
    height: 2px;
    background: #6200EA;
    position: absolute;
    bottom: 0;
    left: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.intro p {
    margin-bottom: 0;
    width: 80%;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@mixin BG-1440 {
    .intro {
        background-size: 75%;
    }
}

@mixin BG-1280 {
    .intro .-heading {
        font-size: 46px;
        line-height: 64px;
        margin: 0 0 36px 0;
    }
}

@mixin BG-1024 {
    .intro {
        background-size: 648px 390px;
    }
    .intro .-wrapper {
        padding: 114px 77px 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        top: 77px;
        display: block;
    }
    .intro .column-two-thirds {
        width: 100%;
    }
    .intro .-heading {
        margin: 0 0 24px 0;
    }
    .intro.full-height-panel {
        display: block;
        height: auto;
        max-height: auto;
        min-height: 100vh;
    }
}

@mixin BG-767 {
    .intro {
        background-size: 432px 260px;
    }
    .intro .-wrapper {
        padding: 96px 26px 180px;
        display: block;
        top: 0;
    }
    .intro .column-two-thirds {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        min-width: 1px;
    }
    .intro .-heading {
        font-size: 24px;
        line-height: 34px;
    }
    .intro.full-height-panel {
        height: auto;
        min-height: auto;
        max-height: auto;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}