@media (max-width: 1440px) {
    @include BG-1440;
}

@media (max-width: 1280px) {
    @include BG-1280;
}

@media (max-width: 1024px) and (orientation: landscape) {
    @include BG-1024;
}

@media (max-width: 767px) {
    @include BG-767;
}